<div>
    <h1>Hello from patient page</h1>
</div>
<div id="patient-info">
    <div id="patient-content">
        <h2>Operation: </h2><h3 id="patient-operations"></h3>
        <h2>Diagnose: </h2><h3 id="patient-diagnosis"></h3>
        <h2>Procedure: </h2><h3 id="patient-procedures"></h3>
        <h2>Medicament: </h2><h3 id="patient-medicament"></h3>
        <button class="btn btn-dark" onclick="viewTherapies()">View</button>
    </div>
    <button class="btn" id="logout" onclick="logout()"> Exit </button>
</div>